.fts-edit-el-wrapper {
    padding: 0;
}

.fts-edit-el-wrapper label {
    display:block;
    padding: 0 0 10px;
    color: #ffffff;
    font-size: var(--control-title-size);
}

button.fts-elementor-link {
    background: #1f2124 !important;
    color:#d5d8dc;
    border-radius: 3px !important;
    padding: 5px 15px !important;
    margin: 0 5px 0 0 !important;
    display: inline-block !important;
    cursor: pointer !important;
    border: 1px solid #3f444b;
    transition:.3s;
    font-size:12px;
}

button.fts-elementor-link:hover {
    background: #2b2c31 !important;
}