@font-face {
    font-family: SlickRemix;
    src: url(fonts/SlickRemix.eot?p9iqv);
    src: url(fonts/SlickRemix.eot?#iefixp9iqv) format('embedded-opentype'), url(fonts/SlickRemix.woff?p9iqv) format('woff'), url(fonts/SlickRemix.ttf?p9iqv) format('truetype'), url(fonts/SlickRemix.svg?p9iqv#SlickRemix) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"], [class^=icon-] {
    font-family: SlickRemix, monospace;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.display-comments-wrap, .facebook-reviews-wrap, .fb-video-play-btn-options-wrap, .inst-text-facebook-album-photos, .inst-text-facebook-albums, .inst-text-facebook-event, .inst-text-facebook-group, .inst-text-facebook-reviews, .inst-text-facebook-video, .like-box-wrap, .slideshow-wrap, .taxonomy-fts_topics .term-parent-wrap {
    display: none
}

#adminmenu #menu-posts-fts div.wp-menu-image:before, .feed_them_social-choose-gallery span:before {
    font-family: SlickRemix, monospace  !important;
    content: "\e600";
    line-height: 1.2em;
    font-size: 1.2em !important
}

@media only screen and (max-width: 782px) {
    #adminmenu #menu-posts-fts div.wp-menu-image:before {
        line-height: normal !important
    }
}

.sss_old_plugins_message {
    margin: 15px 15px 0 0;
    display: none
}

.post-type-fts .column-gallery_thumb img, .post-type-fts_albums .column-gallery_thumb img {
    max-width: 75px;
    vertical-align: top;
    margin-right: 10px
}

.fts_download_button_icon {
    cursor: pointer !important
}

.fts_download_button_icon .dashicons-download {
    margin-top: 2px;
    margin-left: 20px;
    font-size: 27px;
    font-weight: 100 !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.post-type-fts #gallery_shortcode, .post-type-fts_albums #gallery_shortcode {
    width: 23%
}

.post-type-fts #gallery_zip, .post-type-fts_albums #gallery_zip {
    width: 13%
}

@media (max-width: 1400px) {
    .post-type-fts .column-gallery_thumb img, .post-type-fts_albums .column-gallery_thumb img {
        display: block !important
    }

    .post-type-fts #gallery_thumb, .post-type-fts_albums #gallery_thumb {
        width: 90px
    }
}

.feed_them_social-choose-gallery span:before {
    position: relative;
    top: 2px;
    color: #dc3131
}

.media-frame-content .ft-gallery-editor .attachment {
    width: 220px;
    position: relative;
    z-index: 5;
    text-align: center
}

.media-frame-content .ft-gallery-editor .attachment .thumbnail {
    max-width: 300px;
    z-index: 1;
    overflow: hidden;
    background: #fff;
    display: block;
    vertical-align: middle
}

.media-frame-content .ft-gallery-editor .attachment img {
    opacity: .4;
    position: absolute
}

.media-frame-content .ft-gallery-editor .attachment code, .media-frame-content .ft-gallery-editor .attachment strong {
    position: relative;
    z-index: 5
}

.media-frame-content .ft-gallery-editor .attachment code {
    display: block;
    margin: 15px 0 0
}

.media-frame-content .ft-gallery-editor .attachment strong {
    position: relative;
    display: block;
    margin: 55px 0 0
}

.ft-gallery-editor select {
    min-width: 140px !important
}

.ft-gallery-editor p {
    margin-top: 4px;
    margin-bottom: 15px
}

.ft-gallery-editor strong {
    margin-top: 20px;
    display: block
}

.ft-gallery-activation-msg {
    margin: 14px 0 25px;
    font-size: 13px
}

.ft-gallery-activation-msg ol {
    margin: 10px 0 0 20px
}

.ft-gallery-update-message:before {
    color: #fff;
    content: '\e600';
    display: inline-block;
    font: 400 16px/1 SlickRemix, sans-serif;
    speak: none;
    margin: 0 8px 0 -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top
}

.ft-gallery-update-message {
    font-weight: 400;
    color: #fff;
    background: #d54d21;
    padding: 1em;
    margin: 9px 0
}

.ftg_old_plugins_message {
    margin: 15px 15px 0 0
}

.ft-gallery-update-message a {
    color: #fff;
    text-decoration: underline
}

.fts_page_ft-gallery-license-page .edd-upgrade-license-btn {
    display: inline-block !important;
    margin-left: 5px !important
}

.fts-no-license-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, .64);
    text-align: center;
    vertical-align: middle
}

.fts-no-license-button-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 200px
}

.fts-no-license-overlay a {
    padding: 9px 15px;
    background: #0073aa;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block
}

.fts-no-license-overlay a:hover {
    background: rgba(0, 115, 170, .88)
}

.ft-gallery-license-master-form .form-table tr {
    min-width: 250px
}

.ft-gallery-license-wrap th {
    position: relative;
    z-index: 200;
    padding: 14px !important
}

.ft-gallery-clear {
    clear: both
}

.ft-gallery-editor .thumbnail img {
    min-width: 205px;
    min-height: 205px
}

.ftg_review_notice {
    background: #fff;
    padding: 20px 25px 8px
}

.ftg_review_notice img {
    max-width: 320px
}

.ftg-notice-text p {
    line-height: 19px
}

.ftg_notice_dismiss {
    padding: 5px 10px;
    background: #f1f1f1;
    color: #0081c1;
    border-radius: 2px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block
}

.ftg-links {
    margin-top: 20px
}

.ftg-notice-text {
    max-width: 1015px
}

.delete-media-term {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 0 0 -19px;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    text-indent: 0
}

.tagchecklist .delete-media-term .remove-tag-icon:before {
    margin-left: 2px;
    border-radius: 50%;
    color: #0073aa;
    line-height: 1.28
}

.fts_page_fts-settings-page .css label, .fts_page_fts-settings-page .js label {
    line-height: 25px;
    display: block;
    font-style: italic
}

.fts_page_fts-settings-page .form-table td {
    position: relative;
    height: 28px !important
}

.fts-help-tip {
    position: absolute;
    left: -15px;
    display: inline-block;
    top: 20px;
    cursor: help
}

.fts_page_fts-settings-page .form-table tr:FIRST-CHILD .fts-help-tip {
    position: relative !important;
    left: -25px;
    top: 2px
}

.fts-not-first-header.fts-help-tip {
    top: 41px
}

.fts-cache-time-tooltip {
    top: 20px
}

.fts-checkbox-tooltip, .fts-checkbox-tooltip-no-margin-top {
    margin: 0;
    top: 20px
}

.fts_page_fts-settings-page .form-table input[type=checkbox] {
    margin: 0 !important;
    top: 22px;
    position: absolute
}

.fts_page_fts-settings-page h2 {
    font-size: 20px
}

.fts_page_fts-settings-page .css tr:first-child .fts-help-tip, .fts_page_fts-settings-page .js tr:first-child .fts-help-tip {
    top: 1px
}

.fts_page_fts-settings-page small {
    font-weight: 400
}

.fts_page_fts-settings-page .ui-tooltip {
    position: absolute;
    background: #333 !important;
    border-width: 1px !important;
    border-radius: 3px !important;
    box-shadow: 1px 1px 2px 1px rgba(214, 214, 214, .5) !important;
    color: #dedede !important;
    max-width: 300px !important;
    padding: 12px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    text-shadow: none !important;
    z-index: 9999 !important;
    word-wrap: break-word
}

#wp-admin-bar-fts_admin_bar_set_cache {
    height: 40px
}

#wp-admin-bar-fts_admin_bar span {
    line-height: 10px;
    font-size: 12px;
    display: block;
    color: rgba(221, 221, 221, .57)
}

.custom_time_ago_wrap td, .custom_time_ago_wrap th {
    padding-bottom: 0
}

.fts-ago td, .fts-ago th {
    padding-bottom: 20px !important
}

.custom_date_time_wrap p {
    padding: 4px 0 0 4px !important
}

.post-type-fts .feed_shortcode.column-feed_shortcode input {
    padding: 7px;
    background: #f1f1f180;
    border: 1px solid #cccccce3;
    color: #777
}

.fts-cache-messages {
    min-width: 279px;
    max-width: 400px;
    background: #fff;
    color: #333;
    font-size: 13px;
    padding: 9px 20px 9px 10px;
    border-left: 3px solid #32cd32;
    display: none;
    margin-top: 10px;
    width: 100%
}

#fts-clear-cache, .fts-message-inline-block {
    display: inline-block
}

.fts-cache-loading {
    border-left: 3px solid #fca506;
    animation: 2s infinite border-pulsate
}

.fts-cache-success {
    border-left: 3px solid #32cd32
}

.fts-cache-error {
    border-left: 3px solid #dc2626
}

@keyframes border-pulsate {
    0%, 100% {
        border-color: #fca506
    }
    50% {
        border-color: #fca5061a
    }
}

#fts-clear-cache {
    background: #2270b1;
    margin-left: 8px;
    border-radius: 2px;
    padding: 7px 10px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-top: -2px
}

@media (max-width: 780px) {
    #fts-clear-cache {
        margin: 5px 0
    }

    .ftsr-not-first-header.fts-help-tip {
        top: -27px
    }

    .fts-help-tip {
        position: absolute;
        left: 0;
        top: -23px;
        display: inline-block
    }
}

#wp-admin-bar-feed_them_social_admin_bar_set_cache {
    padding-bottom: 17px !important;
    line-height: 0 !important
}

#wp-admin-bar-feed_them_social_admin_bar_set_cache span {
    line-height: 10px;
    display: block;
    color: rgba(221, 221, 221, .57)
}

.fts-shortocde-success-message svg {
    max-width: 75px;
    fill: #f40505
}

.fts-shortocde-success-message {
    padding: 10px 20px 25px;
    text-align: center
}

.fts-shortocde-success-message h1 {
    font-size: 24px;
    font-weight: 700;
    color: #4dd10a
}

.fts-shortocde-success-message span {
    font-size: 15px;
    color: #0f0f0f;
    display: block;
    padding: 0 20px;
    line-height: 24px
}
.post-type-fts #wpfooter {
    display: none;
}