.side-sup-settings-toggle:before, .view-all-custom:before {
    content: "?"
}

.clear {
    clear: both
}

a:focus {
    outline: 0
}

.buy-extensions-btn {
    padding: 10px 25px 11px;
    background-color: #CE1212 !important;
    border: none !important;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer !important;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.buy-extensions-btn, .side-sup-settings-admin-input-label a {
    text-decoration: none;
    -webkit-transition: background 2s;
    -moz-transition: all .3s ease-in-out
}

.display {
    display: block !important
}

.use-of-plugin h3 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin: 13px 0 0
}

.use-of-plugin {
    color: #a8a8a8;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 8px
}

.subtext-of-title {
    color: #c7c4c4;
    margin-bottom: 10px;
    font-size: 12px
}

.side-sup-settings-admin-wrap {
    min-height: 379px;
    background-color: #222;
    padding: 25px 28px 70px;
    -webkit-box-shadow: 2px 3px 7px 1px #ddd;
    box-shadow: 2px 3px 7px 1px #ddd;
    -webkit-border-radius: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    position: relative;
    margin: 25px 17px 0 5px
}

.side-sup-settings-admin-wrap h2 {
    color: #fff;
    font-size: 26px;
    margin: -8px 0 15px;
    line-height: 30px
}

.side-sup-settings-admin-wrap .quick-links-hashtag-etc-wrap h2 {
    font-size: 24px !important;
    margin-bottom: 0
}

.side-sup-settings-admin-wrap h3 {
    color: #FFF;
    padding-top: 12px;
    margin-bottom: 6px;
    font-size: 18px;
    text-shadow: 1px 1px 3px #000
}

.side-sup-settings-admin-wrap h4 {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px
}

.side-sup-settings-admin-form {
    width: 100%
}

.side-sup-settings-admin-input-wrap {
    background-color: #f3f3f3;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #CFCACA;
    border-radius: 4px;
    -webkit-border-radius: 0
}

.side-sup-settings-admin-input-label {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 4px
}

.side-sup-settings-admin-input-label a {
    cursor: pointer;
    font-size: 13px;
    color: red;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.side-sup-settings-admin-input-label a:hover {
    color: grey
}

.company-info-style {
    background-color: rgba(240, 243, 245, .78) !important;
    color: #000
}

.side-sup-settings-admin-wrap .upload_image_button {
    margin-top: 5px;
    margin-left: -1px !important;
    padding: 9px 20px;
    background-color: #CD1723;
    border: none;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
    float: left;
    font-size: 12px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.upload-logo-size {
    float: left;
    width: 350px;
    margin-left: 15px;
    margin-top: 2px
}

.side-sup-settings-admin-input-example {
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #797979
}

.side-sup-settings-admin-input-example a, .side-sup-video-admin-wrap a {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.side-sup-settings-admin-input:focus {
    background-color: #f0f0f0;
    color: #000;
    outline: 0
}

.side-sup-settings-admin-input {
    width: 100%;
    padding: 10px;
    margin-left: -1px;
    font-size: 13px;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease
}

.side-sup-settings-admin-submit-btn {
    font-size: 13px;
    background-color: #CD1723 !important;
    border: none !important;
    color: #fff !important;
    cursor: pointer !important
}

.side-sup-settings-icon-wrap {
    float: right;
    height: 34px
}

.side-sup-settings-icon-wrap a.quick-response-icon {
    float: right;
    display: block;
    height: 28px;
    width: 28px;
    outline: 0;
    border: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: url(../images/quick-response-icon.png) no-repeat;
    background-size: 28px 28px;
    cursor: pointer
}

.side-sup-settings-icon-wrap a:hover {
    opacity: .95;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.side-sup-settings-icon-wrap a:hover, .im-done {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.side-sup-settings-admin-slick-logo {
    margin-left: 24px;
    right: 20px;
    background: url(../images/footer-logo.png) center no-repeat #333;
    width: 108px;
    height: 20px;
    padding: 4px 8px !important;
    display: block;
    float: right;
    margin-right: 1px;
    bottom: 7px;
    left: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.side-sup-video-admin-wrap .side-sup-settings-admin-slick-logo {
    bottom: 7px;
    right: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.side-sup-settings-admin-slick-logo:hover {
    opacity: .9
}

.side-sup-settings-quick-response-btn {
    width: 250px;
    position: absolute;
    bottom: 19px;
    right: 269px
}

.side-sup-settings-paypal-btn {
    width: 200px;
    position: absolute;
    bottom: 13px;
    right: 144px
}

.smpt-form-wrap {
    margin: 15px 20px 30px
}

.checkbox-input {
    margin-top: 10px !important
}

.checkbox-label {
    margin-top: 18px !important
}

#side-sup-clean-theme-settings-custom-css, #side-sup-clean-theme-settings-project-board-btn, #side-sup-settings-smtp {
    margin: 0 7px 0 2px !important
}

.side-sup-smtp-custom, .side-sup-wp-header-custom {
    margin-bottom: 5px
}

.smpt-form-wrap label {
    width: 30%;
    text-align: right;
    margin-top: 2px;
    line-height: 15px;
    padding: 5px;
    display: inline-block
}

.smpt-form-wrap input {
    width: 50%;
    margin-top: 15px;
    padding: 10px;
    display: inline-block
}

#side-sup-smtp-checkbox-authenticate {
    width: 17px;
    height: 17px;
    vertical-align: -14px
}

.side-sup-settings-id-answer {
    margin-top: 10px
}

.side-sup-settings-id-answer h4 {
    padding: 0;
    margin: 5px 0 -6px
}

.side-sup-settings-id-answer span {
    display: block;
    color: #999;
    font-size: 13px;
    margin: 15px 0 0
}

.side-sup-settings-id-answer img {
    margin: 10px 0 14px;
    max-width: 100%;
    height: auto;
    text-align: left;
    clear: both;
    float: left
}

.side-sup-settings-id-answer ul {
    padding: 8px 0 0;
    clear: both;
    margin: 0
}

.side-sup-settings-id-answer ul li {
    margin: 0 0 4px
}

.side-sup-settings-id-answer a {
    cursor: pointer !important
}

.im-done {
    margin-top: 0;
    padding: 7px 38px;
    background-color: #CD1723;
    border: none;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    float: left;
    display: block;
    clear: both;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.buy-extensions-btn:hover, .side-sup-settings-admin-submit-btn:hover, .upload_image_button:hover, a.im-done:hover {
    background: #919191 !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #f1f1f1
}

.side-sup-settings-admin-submit-btn {
    padding: 10px 35px;
    float: left;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 1px;
    margin-left: 0
}

.side-sup-admin-help-wrap {
    padding: 0 20px 10px 0
}

.side-sup-help-admin-wrap {
    width: auto;
    background: 0 0;
    padding: 10px 0 45px;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    min-width: 673px
}

.side-sup-help-admin-wrap .use-of-plugin {
    color: #888;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    background: #FFF;
    line-height: 18px;
    margin: 10px 0 25px;
    padding: 15px 20px 15px 17px;
    border: 1px solid #DFDFDF
}

.side-sup-help-admin-wrap li {
    margin-top: -10px;
    line-height: 23px
}

.side-sup-help-admin-wrap h2 {
    color: #CC0303;
    font-size: 23px;
    font-weight: 700;
    margin: 0 25px 15px 0;
    height: 30px;
    text-shadow: 0 0 0 #222;
    padding: 15px 0 5px 59px;
    background: url(../images/side-sup-help-icon.png) 0 11px no-repeat;
    background-size: 50px;
    border-bottom: 1px solid #DBDBDB
}

.side-sup-help-admin-wrap h3 {
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #555
}

.side-sup-help-admin-wrap a {
    text-decoration: none;
    cursor: pointer !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.side-sup-help-admin-wrap a, .side-sup-settings-toggle {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.side-sup-help-admin-wrap ol li {
    margin: 5px 0 0;
    line-height: 17px
}

.side-sup-admin-help-faqs-wrap, .view-all-custom {
    line-height: 21px
}

#side-sup-debug-report {
    font-family: monospace;
    display: none;
    width: 100%;
    margin-bottom: 20px;
    height: 200px
}

a.side-sup-debug-report {
    padding: 1px 7px 2px;
    background: #E6E6E6
}

.side-sup-admin-help-faqs-wrap ol {
    margin: 12px 27px
}

@keyframes fade {
    from, to {
        opacity: 1
    }
    50% {
        opacity: .5
    }
}

@-webkit-keyframes fade {
    from, to {
        opacity: 1
    }
    50% {
        opacity: .5
    }
}

.side-sup-settings-admin-input {
    border: 1px solid #eee !important
}

.side-sup-float-wrap-2column .side-sup-settings-admin-input-wrap {
    width: 46% !important;
    float: left;
    padding: 7px 2% 25px !important;
    margin: 15px 0;
    min-height: 50px;
    position: relative
}

.side-sup-float-wrap-2column {
    margin-bottom: 10px
}

.side-sup-float-wrap-2column .side-sup-settings-admin-input-wrap .side-sup-settings-id-answer {
    margin: 0;
    padding: 0;
    border: none
}

.side-sup-float-wrap-2column .side-sup-settings-admin-input-wrap .side-sup-settings-id-answer img {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    top: 10px
}

.side-sup-float-wrap-2column .side-sup-settings-admin-input-example {
    height: 32px;
    display: none
}

#theme-settings-wrap h3 {
    text-align: center;
    padding: 8px 0 4px;
    text-transform: uppercase !important
}

#theme-settings-wrap .side-sup-float-wrap-2column .side-sup-settings-admin-input {
    width: 100%;
    margin-left: 0
}

#theme-settings-wrap .side-sup-settings-admin-input-label {
    font-size: 15px;
    text-transform: none !important;
    color: #E6E6E6
}

#theme-settings-wrap .side-sup-float-wrap-2column {
    background-color: rgba(246, 244, 244, .3) !important
}

#theme-settings-wrap .side-sup-settings-admin-input-wrap {
    position: relative
}

#theme-settings-wrap .side-sup-float-wrap-2column .company-info-style {
    background: 0 0 !important;
    margin-bottom: 0
}

#theme-settings-wrap .company-info-style {
    background-color: rgba(246, 244, 244, .3) !important;
    padding: 18px 19px;
    margin: 10px 0;
    border: none;
    border-radius: 1px;
    -webkit-border-radius: 1px
}

#theme-settings-wrap p.special {
    background: rgba(246, 244, 244, .3) !important;
    padding: 18px 19px;
    color: #FFF;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid #666;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    position: relative
}

.special a, .special a:hover {
    text-decoration: none;
    color: #fff
}

.special a {
    display: block;
    position: absolute;
    font-size: 12px;
    right: 12px;
    top: 12px;
    border: 1px solid #ccc;
    padding: 5px 15px
}

.special a:hover {
    opacity: .75
}

.side-sup-settings-toggle, .view-all-custom {
    outline: 0;
    position: absolute;
    top: 5px;
    text-align: center;
    border-radius: 25px;
    opacity: .45;
    color: #555
}

.side-sup-settings-toggle {
    right: 12px;
    text-decoration: none;
    display: block;
    background: #FFF;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.side-sup-settings-toggle:hover {
    color: #fff;
    background: #000
}

.side-sup-settings-toggle:before {
    font-family: arial, sans-serif;
}

.view-all-custom {
    right: 5px;
    height: 20px;
    width: 20px;
    background: #FFF;
    font: verdana, sans-serif;
    transition: all .3s ease-in-out
}

.side-sup-custom-color-btn, .view-all-custom {
    display: block;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

span.view-all-articles {
    opacity: 0;
    display: block;
    position: relative;
    right: 117px;
    top: -23px;
    text-align: left;
    color: #FFF !important;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 11px;
    width: 87px;
    line-height: 16px;
    background: rgba(0, 0, 0, .9);
    border-radius: 1px;
    padding: 5px 4px 5px 12px;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.view-all-custom a.icon-view-all {
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    padding-left: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    outline: 0
}

.company-info-style .side-sup-settings-admin-input-example {
    color: #FFF !important
}

.view-all-custom a.icon-view-all:hover span.view-all-articles {
    opacity: 1;
    transition-delay: 0s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-sup-turn-on-custom-colors:hover span.view-all-articles, .view-all-custom a.icon-view-all:hover span.view-all-articles {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s
}

.fnews-large-wrap-right {
    position: relative
}

.view-all-custom span.arrow-right {
    width: 0;
    height: 0;
    position: relative;
    right: -12px;
    top: -20px;
    opacity: .8;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid #000;
    font-size: 0;
    line-height: 0
}

.side-sup-settings-admin-input-wrap:hover a.side-sup-settings-toggle, .side-sup-turn-on-custom-colors:hover .view-all-custom {
    color: #fff;
    background: #000;
    opacity: .6
}

.side-sup-turn-on-custom-colors:hover span.view-all-articles {
    opacity: 1;
    transition-delay: 0s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.side-sup-color-white {
    color: #52a1eb;
    text-decoration: none
}

.side-sup-color-white:hover {
    color: #FFF
}

.side-sup-custom-color-btn {
    border-radius: 2px;
    padding: 12px 20px;
    background: rgba(247, 247, 247, 1);
    margin: 10px 0;
    font-size: 15px;
    text-align: center;
    transition: all .3s ease-in-out
}

.side-sup-settings-toggle {
    height: 17px;
    width: 17px
}

.side-sup-settings-admin-submit-btn {
    margin-top: 0;
    margin-bottom: 10px
}

.side-sup-settings-admin-wrap {
    max-width: 975px
}

.buy-extensions-btn {
    margin-top: 0;
    right: 0;
    top: 0
}

#side-sup-main-wrapper-width-input {
    min-width: 205px
}

.side-sup-turn-on-custom-colors input {
    margin: 10px 0 0 10px;
    line-height: 22px;
    padding: 2px 7px
}

.side-sup-settings-admin-form input[type=checkbox], .side-sup-settings-admin-form p input[type=checkbox] {
    margin: -1px 7px 0 2px !important
}

.side-sup-settings-admin-form label {
    width: 95px;
    display: block;
    float: left;
    padding: 17px 0 0 20px;
    text-align: left
}

.side-sup-settings-admin-form p {
    color: #FFF
}

label.toggle-custom-textarea-show, label.toggle-custom-textarea-show-terms {
    width: 165px;
    float: none;
    color: #FFF;
    height: auto !important;
    line-height: normal !important;
    text-align: center;
    padding: 10px 0;
    background: #818181;
    border: 1px solid #666;
    border-radius: 2px;
    font-size: 12px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

label.toggle-custom-textarea-show:hover {
    background: #999
}

.toggle-custom-textarea-hide, .toggle-custom-textarea-hide-terms {
    display: none
}

.side-sup-wp-header-custom {
    margin: 0 0 25px;
    font-size: 13px;
    padding: 0;
    line-height: 19px
}

textarea#side-sup-main-wrapper-css-input, textarea#side-sup-main-wrapper-custom-terms {
    max-width: 100%;
    min-height: 350px;
    clear: both;
    background: #F9F9F9;
    font-family: Consolas, Monaco, monospace;
    font-size: 12px;
    width: 100%;
    padding: 15px;
    height: 300px;
    outline: 0;
    display: none
}

.side-sup-custom-css-text {
    display: none;
    color: #FFF;
    margin-bottom: 5px
}

.side-sup-settings-id-answer {
    padding: 0 !important;
    display: none;
    margin: 0 !important;
    font-weight: 700;
    border-top: 0 solid #ccc !important
}

a:active, a:hover {
    color: #2ea2cc
}

.side-sup-custom-settings-checkbox-wrap {
    margin: 16px 0 0 9px;
    float: left;
    color: #FFF
}

#theme-settings-wrap .pages-selections-wrap p.special {
    display: inline-block !important;
    width: 15% !important;
    margin: 0 !important;
    border: none !important;
    background: 0 0 !important
}

.pages-selections-wrap {
    background: rgba(246, 244, 244, .3) !important;
    width: 100%
}

.hide-fb-options {
    display: none
}

.side-sup-quick-response-options-wrap, .side-sup-github-options-wrap, .side-sup-quick-links-options-wrap {
    margin: 15px 0;
    display: none
}

.side-sup-github-options-wrap .github-submit {
    margin-bottom: 0 !important
}

.feed-them_page_side-sup-settings-page .feed_them_social-admin-submit-btn {
    margin-top: 5px;
    margin-bottom: 20px
}

.side-sup-fb-options {
    margin: 0 0 20px;
    color: #FFF
}

.side-sup-fb-options .side-sup-settings-admin-input-label {
    margin: 0 0 5px;
    color: #FFF
}

.side-sup-fb-options input {
    margin: 9px 10px 10px 20px;
    width: auto !important;
    line-height: auto
}

.special {
    text-transform: capitalize
}

@media (max-width: 767px) {
    .buy-extensions-btn {
        display: none
    }
}

.feed-them_page_side-sup-settings-page .side-sup-quick-response-load-more-options-wrap {
    display: none !important
}

.feed-them_page_side-sup-settings-page .instructional-text {
    color: #FFF;
    padding: 5px;
    border: none;
    margin-bottom: 4px
}

.feed-them_page_side-sup-settings-page .instructional-text a {
    color: #F7C424;
    text-decoration: underline
}

.feed-them_page_side-sup-settings-page .feed-them-social-admin-input-wrap {
    background-color: rgba(255, 255, 255, .89);
    color: #000 !important;
    padding: 14px 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-left: 1px
}

.feed-them_page_side-sup-settings-page .quick-links-hashtag-etc-wrap h3 {
    display: none;
    margin-top: 0 !important
}

.feed-them_page_side-sup-settings-page .quick-links-hashtag-etc-wrap {
    margin: 0 !important
}

.feed-them_page_side-sup-settings-page .instructional-text a:hover {
    opacity: 1;
    text-decoration: none;
}